// 20140427
// David Prager Branner

div {
  width:auto;
  height:auto;
  display:inline-block;
}

#ball {
  background-color:pink;
  border-radius:10px;
  position:absolute;
  display:inline-block;
  top:400px;
  left:0px;
}

#spacer {
  height:400px;
}

#button {
  color:white;
  background-color:green;
  float: left;
}

#button2 {
  color:brown;
  background-color:palegreen;
  float: left;
}
